@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Poppins',sans-serif;
    scroll-behavior: smooth;
}

body
{
    min-height: 100vh;
    background-color:#17202A                 ;
    margin: 0;
  padding: 0;
  overflow-x: hidden;
    list-style: none;
}


header{

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: sp ace-between;
    align-items: center;
    z-index: 10000;
}

header .logo
{
    color: #fff;
    font-weight: 700;
    text-decoration: none;
    font-size: 2 em;
    text-transform: uppercase;
    letter-spacing: 2px;
}
header ul
{
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li 
{
    list-style: none;
    margin-left: 20px;
}

header ul li a
{
    text-decoration: none;
    padding: 6px 15px;
    color: #fff;
    border-radius: 20px; 
}

header ul li a:hover,
header ul li a.active
{
    background:#fff;
    color: #2b1055;
}

section
{
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
section::before
{
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background:linear-gradient(to top,#17202A,transparent);
    z-index: 1000;
}

section img
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;

}

section img#moon
{
  mix-blend-mode: screen;
 
}
section img#moon2
{
  mix-blend-mode: screen;
  height: 300px;
  width: 300px;
  margin-left: 950px;
 
}
section img#mountains_front
{
    z-index: 50;
    padding-top: 250px;
}
  .first{
    text-align: center;
    padding-left: 150px;
  }  
 .type {
  display:inline-block;
  vertical-align: bottom;
}

.type > span {
  color: #B373E8;
  display:grid;
  overflow: hidden;
  font-size: 50px;
  height:1.5em

}

.type span span {
  width:0%;
  max-width:max-content;
  overflow: hidden;
  height:inherit;
  word-break:break-all;
  animation:
    c 0.5s infinite steps(1),
    t 2s linear infinite alternate,
    m 16s steps(4) infinite;
}
.type span span:before {
  content:" ";
  display:inline-block;
}

@keyframes t{
  99%,100% {width:100%}
}

@keyframes c{
  0%,100%{box-shadow:5px 0 0 #0000}
  50%    {box-shadow:5px 0 0 white}
}

@keyframes m{
  100% {transform:translateY(-400%)}
}


#text
{
    position: absolute;
    right: -350px;
    color: #fff;
    white-space: nowrap;
    font-size: 7.5vw;
    z-index: 9;

}

#btn
{
    text-decoration: none;
    display: inline-block;
    padding: 8px 30px;
    border-radius: 40px;
    background:#fff;
    color:#2b1055;
    font-size: 1.5em;
    transform: translateY(100px);
}
/*counter*/

  .numbers {
  font-family: 'Arial', sans-serif;
  font-size: 80px;
  color: #fff;
  line-height: 1em;
  text-align: center;
  margin: 20px auto;
  overflow: hidden;
}
.numbers__window {
  display: inline-block;
  overflow: hidden;
  width: 0.7em;
  height: 1em;
}
.numbers__window__digit {
  font: inherit;
  word-break: break-all;
  display: block;
  width: 0;
  padding: 0 0.8em 0 0;
  margin: 0 auto;
  overflow: inherit;
  animation: counting 1s steps(10) forwards infinite;
}
.numbers__window__digit::before {
  content: attr(data-fake);
  display: inline-block;
  width: 100%;
  height: auto;
}
@keyframes counting {
  100% {
    transform: translate3d(0, -10em, 0);
  }
}
.numbers__window__digit--1 {
  animation-iteration-count: 3;
}
.numbers__window__digit--2 {
  animation-iteration-count: 6;
}
.numbers__window__digit--3 {
  animation-iteration-count: 9;
}
.numbers__window__digit--4 {
  animation-iteration-count: 12;
}
.numbers__window__digit--5 {
  animation-iteration-count: 15;
}

.label {
  font-family: 'Poppins', sans-serif;
  font-size: 30px;
  color: #BCB9B5;
  line-height: 1em;
   padding-left: 130px;
  text-align: center;
   overflow: hidden;
  display: flex;
  flex-direction: row;
}

.circle-wrap {
  display: grid;
  grid-template-columns: repeat(1, 160px);
  grid-gap: 80px;
  margin-top: 100px;
  margin-left: 50px;
  width: 150px;
  height: 150px;
  background: #BCB9B5;
  border-radius: 50%;
}

.circle-wrap .circle .mask,
.circle-wrap .circle .fill-1,
.circle-wrap .circle .fill-2,
.circle-wrap .circle .fill-3 {
  width: 150px;
  height: 150px;
  position: absolute;
  border-radius: 50%;
}

.circle-wrap .circle .mask {
  clip: rect(0px, 150px, 150px, 75px);
}

.circle-wrap .inside-circle {
  width: 124px;
  height: 124px;
  border-radius: 50%;
  background: #212020;
  line-height: 120px;
  text-align: center;
  margin-top: 13px;
  margin-left: 13px;
  color: white;
  position: absolute;
  z-index: 100;
  font-weight: 700;
  font-size: 2em;
}

/* color animation */

.mask .fill-1 {
  clip: rect(0px, 75px, 150px, 0px);
  background-color: #8E44AD ;
}

.mask.full-1,
.circle .fill-1 {
  animation: fill-1 ease-in-out 3s;
  transform: rotate(153deg);
}

@keyframes fill-1 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(153deg);
  }
}

/* 2nd bar */

.mask .fill-2 {
  clip: rect(0px, 75px, 150px, 0px);
  background-color: #7D3C98 ;
}

.mask.full-2,
.circle .fill-2 {
  animation: fill-2 ease-in-out 3s;
  transform: rotate(117deg);
}

@keyframes fill-2{
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(117deg);
  }
}

/* 3rd progress bar */
.mask .fill-3 {
  clip: rect(0px, 75px, 150px, 0px);
  background-color: #4A235A ;
}

.mask.full-3,
.circle .fill-3 {
  animation: fill-3 ease-in-out 3s;
  transform: rotate(135deg);
}

@keyframes fill-3{
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(135deg);
  }
}


 /*slider*/

.screen{
    z-index: 10000;
  width: 100%;
  height: 100vh;
  position: relative;
   background:#17202A;

}

.rockbg1 {
  position: absolute;
  transform: scale(0.2);
  filter: brightness(0.2);
  top: 20vh;
  left: 0;
  z-index: 1000;
}

.rockbg2 {
  position: absolute;
  transform: scale(1);
  filter: brightness(1);
  top: 40vh;
  right: 0;
  z-index: 1000;
}   

.planet-links {
  width: 95%;
  height: 10vh;
  color: #fff;
  position: absolute;
  display: flex;
  padding-top: 200px;
  justify-content: space-evenly;
  list-style: none;
  z-index: 10000;
}

.planet-links .swiper-pagination-bullet {
  opacity: 0.5;
  outline: none;
}
.planet-links .swiper-pagination-bullet-active {
  color: #fff;
  opacity: 1;
}

.swiper-pagination-clickable .swiper-pagination-bullet {
  background: transparent;
}

.swiper-container {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 50px 0;
}

.swiper-wrapper {
  transition-delay: 0.5s;
}

.swiper-slide {
  height: 400px !important;
  width: 90% !important;
  background: transparent;
}

.swiper-slide:nth-child(1) .slide-img {
  background-image: url("C:\Users\Dell\Desktop\myportfolio\images\mercury.png");
}
.swiper-slide:nth-child(2) .slide-img {
  background-image: url("C:\Users\Dell\Desktop\myportfolio\images\venus.png");
}
.swiper-slide:nth-child(3) .slide-img {
  background-image: url("C:\Users\Dell\Desktop\myportfolio\images\earth1.png");
}
.swiper-slide:nth-child(4) .slide-img {
  background-image: url("C:\Users\Dell\Desktop\myportfolio\images\mars.png");
}
.swiper-slide:nth-child(5) .slide-img {
  background-image: url("C:\Users\Dell\Desktop\myportfolio\images\jupiter.png");
}
.swiper-slide:nth-child(6) .slide-img {
  background-image: url("C:\Users\Dell\Desktop\myportfolio\images\saturn.png");
}
.swiper-slide:nth-child(7) .slide-img {
  background-image: url("C:\Users\Dell\Desktop\myportfolio\images\uranus.png");
}
.swiper-slide:nth-child(8) .slide-img {
  background-image: url("C:\Users\Dell\Desktop\myportfolio\images\neptune.png");
}

.slide-img {
  background-position: "center";
  background-repeat: no-repeat !important;
  background-size: contain;
  width: 30%;
  height: 100%;
}

.slide-number {
  position: absolute;
  top: -30px;
  left: 30%;
  width: 500px;
  height: 300px;
  overflow: hidden;
  z-index: 10;
}

.slide-number p {
  font-size: 80px;
  font-family: "AlphaCentauri" !important;
  color: #fff;
  position: relative;
}

.slide-number p span {
  position: relative;
}

.slide-detail {
  position: absolute;
  top: 100px;
  left: 30%;
  z-index: 100;
  width: 50%;
  height: 400px;
  overflow: hidden;
}

.slide-detail p {
  font-size: 14px;
  color: #fff;
  position: relative;
  opacity: 0.8;
  line-height: 30px;
}

.slide-detail p span {
  position: absolute;
}

.slide-detail-facts {
  position: absolute;
  top: 300px;
  left: 30%;
  z-index: 100;
  width: 50%;
  height: 400px;
  overflow: hidden;
  color: #fff;
}
.slide-detail-facts div {
  display: flex;
  position: relative;
}
.slide-detail-facts div h5 {
  margin-right: 20px;
  font-size: 20px;
}

.slide-text {
  position: absolute;
  top: -25px;
  left: 20%;
  z-index: 9;
  width: 200px;
  height: 400px;
  overflow: hidden;
  opacity: 0.1 !important;
}

.slide-text h4 {
  color: #fff;
  font-size: 70px;
  position: relative;
}
.slide-text h4 span {
  position: absolute;
}

.container{
    font-family: sans-serif;
     line-height: 1.5;
      padding-bottom: 150px;
    margin: 0 auto;
    max-width: 800px;
     font-weight: 400;
    color: #fff;
    background-color: #17202A;
 }

.top-section{
    text-align: center;
    padding: 4rem 0;
    max-width: 600px;
    margin: 0 auto;
}
/*timeline*/

.timeline{
    position: relative;
    min-height: 150px;
}

.line{
    position: absolute;
    z-index: 2;
    left: calc(50% - 1px);
    width: 2px;
    top: -50px;
    background-color: #fff;
    display: none;
}

.line:before,
.line::after{
    position: absolute;
    display: block;
    content: '';
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    background-color: #fff;
    left: 50%;
    transform: translateX(-50%);
}

.line:after{
    bottom: 0;
}

.section{
    display: flex;
    opacity: 0;
    transform: translateX(-100%);
    transition: 600ms ease;
    position: relative;
    z-index: 1;
    margin: 50px 0;
    padding: 1rem;
    align-items: center;
    min-height: 300px;
}

.section:nth-child(odd){
    flex-direction: row-reverse;
    transform: translateX(100%);
}

.bead{
    position: absolute;
    display: block;
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    background-color: #fff;
    left: 50%;
    top: 20%;
    transform: translateX(-50%);
}

.content{
    width: calc(50% - 1rem);
}

.show-me:nth-child(n){
    transform: none;
    opacity: 1;
}

/*swipper*/



/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}



/*footer*/
.containers{
    max-width: 1170px;
    margin:auto;
    padding-left: 30px;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
ul{
    list-style: none;
}
.footer{
    font-family: 'Poppins', sans-serif;
    margin:0;
    box-sizing: border-box;
    padding-bottom: 15px;
    line-height: 1.5;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}
.footer-col h4::before{
    content: '';
    position: absolute;
    left:0;
    bottom: -10px;
    background-color: #e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}
.footer-col ul li:not(:last-child){
    margin-bottom: 10px;
}
.footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
}
.footer-col ul li a:hover{
    color: #ffffff;
    padding-left: 8px;
}
.footer-col .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255,255,255,0.2);
    margin:0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
    color: #24262b;
    background-color: #ffffff;
}
